<app-breadcrumb></app-breadcrumb>

<form #formLogin="ngForm">
  <div class="row">
    <div class="col-md-2">
      <mat-form-field>
        <input matInput type="text" name="codigo" placeholder="Código" [(ngModel)]="banco.codigo" required />
      </mat-form-field>
    </div>

    <div class="col-md-6">
      <mat-form-field>
        <input matInput type="text" name="nome" placeholder="Nome" [(ngModel)]="banco.nome" required />
      </mat-form-field>
    </div>

    <div class="col-md-4">
      <mat-form-field>
        <input matInput type="text" name="site" placeholder="Site" [(ngModel)]="banco.site" />
      </mat-form-field>
    </div>
  </div>
  <div class="margin-button-row">
    <button mat-raised-button color="accent" (click)="voltar()">
      Cancelar
    </button>
    <button mat-raised-button color="primary" (click)="salvar(banco)" [disabled]="!formLogin.form.valid">
      Salvar
    </button>
  </div>
</form>
