<div class="login-box">
  <div class="login-logo">
    <a>
      <b>Strong</b>
      SYS
    </a>
  </div>
  <!-- /.login-logo -->
  <div class="login-box-body">
    <p class="login-box-msg text-uppercase">Entre com suas credenciais</p>
    <form #formLogin="ngForm">
      <mat-form-field style="width: 100%">
        <input matInput type="text" name="email" placeholder="Email" [(ngModel)]="login.email" required />
      </mat-form-field>

      <mat-form-field style="width: 100%">
        <input matInput type="password" name="password" placeholder="Senha" [(ngModel)]="login.password" required />
      </mat-form-field>
      <div class="row">
        <div class="col-xs-4">
          <button mat-raised-button color="primary" (click)="entrar(login)" [disabled]="!formLogin.form.valid">
            Entrar
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
